body{
    background-color: #5A18C9;
}
.titulo{
    color: #905BEC;
    background-color: #300D6E;
}

.paizao{
    display: flex;
    justify-content: center;
}

.p{
    display: flex;
    align-items: center;
    color: white;
    background-color:none ;
}

.titulo2{
    display: flex;
    position: absolute; right: center;
    color: white;
}